
.mainFxmlClass {
 
}
.card{
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-padding: 20;

    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.05),8,0,0,4);
    -fx-pref-width:250;
    -fx-pref-heigth:250;

}
.content{
    -fx-background-color: transparent;
}
.card-title{
    -fx-font-size:14px;
    -fx-text-fill: #6b7280;
}
.card-value{
    -fx-font-size:26px;
    -fx-font-weight:bold;
    -fx-text-fill:#111827;
}
.card-sub{
    -fx-font-size:12px;
    -fx-text-fill: #9ca3af;
}
/*ber chart*/
.chart-container{
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.05),8,0,0,4);
}
.chart-title{
    -fx-font-size:16px;
    -fx-font-weight:bold;
    -fx-padding: 0 0 10 0;
    -fx-text-fill: #111827;
}

/*les boutons en bas */

.card2{
    -fx-background-radius: 10;
     -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.05),8,0,0,4);
}

.action-card{
      -fx-background-color: #ffffff;
    -fx-background-radius: 12;
     -fx-pref-width:780;
    -fx-pref-heigth:60;
    -fx-alignment: CENTER;
        -fx-font-size:14px;
        -fx-font-weigth:60;
        -fx-text-fill: #374151;
        fx-cursor:hand;
        -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.05),5,0,0,2);
        -fx-boder-color:#e5e7eb;
        -fx-border-radius: 12;
        fx-transition:all 0.2s ease-in-out;
 
}
.action-card:hover{
    -fx-background-color: #e0e7ff;
    -fx-text-fill: #3730a3;
}
.action-card:pressed{
    -fx-background-color: #e0e7ff;
    -fx-text-fill: #3730a3;
}
.action-card FontAwesomeIconView{
    -fx-fill: #6b7280;
    -fx-font-size:16px;
    -fx-padding: 0 10 0 0;
}

/*donne du barchart*/
.data0.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}
.data1.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data2.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data3.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data4.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data5.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data6.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data7.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data8.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data9.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data10.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data11.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}.data12.chart-bar{
    -fx-background-color:#6366f1;
    -fx-background-radius:3px 3px 0px 0px;
    -fx-width:15px;
}